<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Project</title>
  </head>
  <body>
    <div>
      {% include "post.html" with author="Diego Fernandes" content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odio aliquam voluptate recusandae, non laborum dolore, excepturi iure repellat veniam modi, aliquid tempora facere libero cupiditate unde exercitationem repellendus! Fugiat!" %}
      {% include "post.html" with author="Gabriel Buzi" content="Um novo post muito legal" %}
    </div>
  </body>
</html>