{% load static %}
<aside class="sidebar">
  <link href="{% static 'myapp/css/sidebar.css' %}" rel="stylesheet" >
  <img
    src="https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=50"
    class="sidebar-cover"
  />

  <div class="sidebar-profile">
    <img class="sidebar-profile-avatar" src="https://github.com/jobsonita.png" />
    <strong class="sidebar-profile-name">Jobson Gilberto</strong>
    <span class="sidebar-profile-career">Web Developer</span>
  </div>

  <footer class="sidebar-footer">
    <a href="#" class="sidebar-footer-link">
      <i class="fa fa-pen"></i>
      Editar seu perfil
    </a>
  </footer>
</aside>
